

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Permanent+Marker&family=Tektur:wght@700&display=swap');


html {
    font-size: 14px;
}

h1, h4 {
    color: #00d084;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 50%;
    scroll-behavior: auto;
}

body {    
    font-family: Barlow, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;    
}

footer{
    background-color: #149971;
}

li {
    text-decoration: none;
    display: inline;
    padding: 4px;
}

li a {
    text-decoration: none;
    color: white;
}

footer h1,footer span:before,footer h3,footer a,footer p 
{
    color: white !important;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

.container.flex-grow-1 {
    flex: 1;
}

.container {
    flex: 1;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*******************************************************/

@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
@import url("https://cdn.jsdelivr.net/npm/yekan-font@1.0.0/css/yekan-font.min.css");


:root {
    --color-primary: #137e15;
    --color-secondary: #a5b3d4;
    --color-gray: #dde6f3;
    --color-light-gray: #f3f6fb;
    --color-white: white;
    --color-black: #3e3743;
    --color-input-hover: rgba(165, 179, 212, 0.6);
    --color-input-focus: rgba(26, 37, 86, 0.45);
    --color-input-error: rgba(255, 94, 31, 0.6);
    --color-input-warning: rgba(166, 145, 54, 0.6);
    --color-input-success: rgba(23, 125, 23, 0.45);
    --color-input-disabled: #dde6f3;
    --font-family: Roboto, Montserrat, sans-serif;
    --font-persian: Yekan, Lalezar, cursive;
    --font-proxima: proxima-soft, Proxima Soft, Proxima Nova Soft, Helvetica, Arial, sans-serif;
}

/* __[ STYLE ]__ */


:root {
    --font-family: Montserrat, Roboto, sans-serif !important;
}

.verification {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.verification {
    /*
  HINT : `--m-` = main
  HINT : `--w-` = wrap
  */
    --m-width: 350px;
    --m-height: 350px;
    --w-width: 300px;
    --w-height: 325px;
    height: var(--m-height);
    width: var(--m-width);
}

.verification, .verification__wrap, .verification__fields, .verification__field, .verification__verify {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.verification__wrap, .verification__fields, .verification__field, .verification__header, .verification__verify, .verification__timeout {
    padding: 0;
    margin: 0;
    width: var(--w-width);
}

.verification__wrap {
    justify-content: space-between;
    flex-direction: column;
    height: var(--w-height);
}

.verification__title {
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
}

.verification__description {
    text-align: justify;
    line-height: 1.6rem;
    font-size: 0.9rem;
    margin: 0;
}

.verification__header {
    height: 35%;
}

.verification__fields {
    height: 25%;
}

.verification__verify {
    height: 25%;
}

    .verification__verify p {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .verification__verify p, .verification__verify_btn {
        width: 100%;
        height: 100%;
    }

.verification__verify_btn {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    stroke: none;
    box-shadow: none;
    cursor: pointer;
    border-radius: 9px;
    height: 52px;
    padding: 8px 16px;
    font-size: 1.25rem;
}

    .verification__verify_btn:hover {
        transform: scale(1.05);
    }

    .verification__verify_btn:active {
        transform: scale(0.95);
    }

.verification__field {
    justify-content: space-between;
    letter-spacing: 1.7px;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    stroke: none;
    box-shadow: none;
    width: 100%;
    height: 100%;
    height: 60px;
}    

.verification__input {
    letter-spacing: 1.7px;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    stroke: none;
    box-shadow: none;
    width: 150px;
    height: 50px;
    transition: 0.2s 0s ease-out;
    width: 60px;
    height: 60px;
    border-radius: 9px;
    padding: 16px 0;
    text-align: center;
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: bold;
}

    .verification__input:hover {
        box-shadow: 0 0 0 0.25rem var(--color-input-hover);
    }

    .verification__input:focus {
        box-shadow: 0 0 0 0.25rem var(--color-input-focus);
    }

    

.verification__send_new {
    border: none;
    outline: none;
    stroke: none;
    box-shadow: none;
    cursor: pointer;
    width: auto;
    height: 25px;
    border-radius: 15px;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 5px 2px;
    background: transparent;
    color: inherit;
    font: inherit;
    transition: top 0.5s 0.1s ease, height 0.5s 0.1s ease, transform 0.3s ease, background 0.3s ease;
}

        

/* --- RESPONSIVE --- */
/* [media MOBILE] */
@media (max-width: 375px) {
    .verification {
        --m-width: 350px;
        --m-height: 325px;
        --w-width: 300px;
        --w-height: 325px;
        margin-top: -75px;
    }

    .verification__input {
        width: 55px;
        height: 55px;
        padding: 8px 0;
        font-size: 1.5rem;
    }
}
/* --- THEME --- */
/* [DEFAUTL] */
.verification {
    background-color: var(--color-light-gray);
    color: var(--color-secondary);
}

.verification__title {
    color: var(--color-primary);
}

.verification__description {
    color: var(--color-secondary);
}

.verification__verify_btn {
    background: var(--color-primary);
    color: var(--color-light-gray);
}

.verification__input {
    background: var(--color-gray);
}

    .verification__input:hover {
        box-shadow: 0 0 0 0.25rem var(--color-input-hover);
    }

    .verification__input:focus {
        box-shadow: 0 0 0 0.25rem var(--color-input-focus);
    }

/*#verificationCode{
    justify-content: center;
    vertical-align: central;
    margin: 0 auto;
}*/

.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total de la ventana */
}

.verification {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/***************************************++registro postulante*/

/* Android 2.3 :checked fix */
@-webkit-keyframes fake {
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

@keyframes fake {
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

body {
    -webkit-animation: fake 1s infinite;
    animation: fake 1s infinite;
}

.worko-tabs {
    margin: 20px;
    width: 80%;
}

    .worko-tabs .state {
        position: absolute;
        left: -10000px;
    }

    .worko-tabs .flex-tabs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

        .worko-tabs .flex-tabs .tab {
            flex-grow: 1;
            max-height: 40px;
        }

        .worko-tabs .flex-tabs .panel {
            background-color: #fff;
            padding: 20px;
            min-height: 300px;
            display: none;
            width: 100%;
            flex-basis: auto;
        }

    .worko-tabs .tab {
        display: inline-block;
        padding: 10px;
        vertical-align: top;
        background-color: #eee;
        cursor: hand;
        cursor: pointer;
        border-left: 10px solid #ccc;
    }

        .worko-tabs .tab:hover {
            background-color: #fff;
        }

#tab-one:checked ~ .tabs #tab-one-label,
#tab-two:checked ~ .tabs #tab-two-label,
#tab-three:checked ~ .tabs #tab-three-label,
#tab-four:checked ~ .tabs #tab-four-label,
#tab-five:checked ~ .tabs #tab-five-label {
    background-color: #fff;
    cursor: default;
    border-left-color: #69be28;
}

#tab-one:checked ~ .tabs #tab-one-panel,
#tab-two:checked ~ .tabs #tab-two-panel,
#tab-three:checked ~ .tabs #tab-three-panel,
#tab-four:checked ~ .tabs #tab-four-panel,
#tab-five:checked ~ .tabs #tab-five-panel {
    display: block;
}

@media (max-width: 600px) {
    .flex-tabs {
        flex-direction: column;
    }

        .flex-tabs .tab {
            background: #fff;
            border-bottom: 1px solid #ccc;
        }

            .flex-tabs .tab:last-of-type {
                border-bottom: none;
            }

        .flex-tabs #tab-one-label {
            order: 1;
        }

        .flex-tabs #tab-two-label {
            order: 3;
        }

        .flex-tabs #tab-three-label {
            order: 5;
        }

        .flex-tabs #tab-four-label {
            order: 7;
        }

        .flex-tabs #tab-five-label {
            order: 9;
        }

        .flex-tabs #tab-one-panel {
            order: 2;
        }

        .flex-tabs #tab-two-panel {
            order: 4;
        }

        .flex-tabs #tab-three-panel {
            order: 6;
        }

        .flex-tabs #tab-four-panel {
            order: 8;
        }

        .flex-tabs #tab-five-panel {
            order: 10;
        }

    #tab-one:checked ~ .tabs #tab-one-label,
    #tab-two:checked ~ .tabs #tab-two-label,
    #tab-three:checked ~ .tabs #tab-three-label,
    #tab-four:checked ~ .tabs #tab-four-label,
    #tab-five:checked ~ .tabs #tab-five-label {
        border-bottom: none;
    }

    #tab-one:checked ~ .tabs #tab-one-panel,
    #tab-two:checked ~ .tabs #tab-two-panel,
    #tab-three:checked ~ .tabs #tab-three-panel,
    #tab-four:checked ~ .tabs #tab-four-panel,
    #tab-five:checked ~ .tabs #tab-five-panel {
        border-bottom: 1px solid #ccc;
    }
}

